@model List<SizeViewModel>
@{
    var productNumber = ViewData["ProductNumber"] as string;
}

@if (Model != null!)
{
    @foreach (var s in Model)
    {
        var isActive = s.ProductNumber == productNumber;
        <button id="@s.Size" class="size-item @(isActive ? "active" : string.Empty)">@s.Size</button>
    }
}