button {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
}

.product-container {
    color: #111111;
}

.image-container {
    width: 100%;
}

.product-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
}

.image-selector {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid #DBE3F5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.elipse {
    width: 22px;
    height: 8px;
    border-radius: 10px;
    border: 3px solid #111;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #111;
}

.product-info-container {
    padding: 25px 15px;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart-button {
    font-size: 1.2rem;
    color: #626262;
    transition: all 0.15s ease-in-out;
}

    .heart-button:hover {
        color: red;
    }

.product-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.price-add-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-box {
    min-height: 30px;
}

.price-box {
    font-weight: 700;
    font-size: 1.4rem;
}

.add-product-box {
    display: flex;
    align-items: center;
    padding: 0 2px;
}

.item-amount {
    display: flex;
    justify-content: center;
    width: 60px;
    font-size: 1.3rem;
    margin: -3px 0 0 0;
}

.size-select-container {
    margin-top: 10px;
}

.size-title {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.sizes-box {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    min-height: 50px;
}

.color-select-container {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.colors-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
}

.color-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 25px;
}

.product-desc-container {
    margin-top: 30px;
    min-height: 120px;
}

.desc-title {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.desc {
    color: #626262;
}

.button-container {
    margin: 10px;
}

.cart-button {
    height: 50px;
    width: 100%;
    color: #FFF;
    font-size: 1rem;
    background: #111111;
    border-radius: 50px;
    transition: all 0.15s ease-in-out;
}

    .cart-button:hover {
        background: #626262;
    }

@media (min-width: 900px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 0px;
        margin-top: 50px;
        padding: 0 20px;
    }

    .image-carusel-container {
        grid-area: 1 / 1 / 2 / 2;

    }

    .image-selector {
        border: none;
    }

    .product-info-container {
        grid-area: 1 / 2 / 2 / 3;
        padding: 0;
    }

    .button-container {
        grid-area: 2 / 1 / 3 / 3;
    }
}
@media (min-width: 1200px) {
    .product-container {
        max-width: 1180px;
    }

}
@media (min-width: 1400px) {
    .product-container {
        max-width: 1380px;
    }
}
@media (min-width: 1600px) {
    .product-container {
        max-width: 1580px;
    }
}
@media (min-width: 1800px) {
    .product-container {
        max-width: 1780px;
    }
}
