button {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
}

.size-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dbe3f5;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.15s ease-in-out;
}

    .size-item:hover {
        background: #dbe3f5;
    }

.active {
    background: #dbe3f5;
}

@media (min-width: 1200px) {
    .size-item {
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
    }
}
