@* categories main *@
<section class="category-main">
    <div class="gender-categories">
        <button class="active item">Men</button>
        <button class="item">Women</button>
        <button class="item">Kids</button>
        <button class="item">Accessories</button>
        <button class="item">Accessories</button>
        <button class="item">Accessories</button>
    </div>
    <div class="product-types">
        <div class="category category-small">
            <div class="category-item"><img src="../img/dresses.jpg" /><span>Dresses</span></div>
            <div class="category-item"><img src="../img/pants.jpg" /><span>Pants</span></div>
        </div>
        <div class="category category-big category-item"><img src="../img/accessories.jpg" /><span>Accessories</span></div>
        <div class="category category-small">
            <div class="category-item"><img src="../img/shoes.jpg" /><span>Shoes</span></div>
            <div class="category-item"><img src="../img/t-shirts.jpg" /><span>T-Shirts</span></div>
        </div>
    </div>
</section>


