.showcase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 600px;
}

.grid-item img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.showcase-img {
    background-image: url('/img/showcase-img.png');
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
}

.showcase-text {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
}

.discount-offer-img {
    background-image: url('/img/sale-section.png');
    background-size: cover;
    object-fit: fill;
    position: relative;
    width: 100%;
    min-height: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .discount-offer-img .discount-offer-title {
        position: absolute;
        top: 10px;
        left: 20%;
        color: #515b61;
    }

        .discount-offer-img .discount-offer-title .discount-offer-text {
            font-size: 23px;
            font-weight: 700;
        }

    .discount-offer-img .discount-offer-btn {
        position: absolute;
        bottom: 10%;
        left: 20%;
        padding: 1em 2em;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 500;
        color: #000;
        background-color: #515b61;
        color: white;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

        .discount-offer-img .discount-offer-btn:hover {
            background-color: #23c483;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #515b61;
            transform: translateY(-7px);
        }

        .discount-offer-img .discount-offer-btn:active {
            transform: translateY(-1px);
        }

@media only screen and (min-width: 768px) {
    .showcase-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .showcase-text {
        font-size: 28px;
    }

    .discount-offer-img {
        width: 80%;
        margin: 0 auto;
    }

        .discount-offer-img .discount-offer-btn {
            font-size: 12px;
            padding: 1.2em 2.4em;
        }
}

@media only screen and (min-width: 992px) {
    .showcase-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .showcase-text {
        font-size: 55px;
    }

    .discount-offer-img {
        width: 60%;
    }

        .discount-offer-img .discount-offer-title,
        .discount-offer-img .discount-offer-btn {
            left: 10%;
        }
}

@media only screen and (min-width: 1200px) {
    .showcase-text {
        font-size: 62px;
    }

    .discount-offer-img {
        width: 40%;
    }
}
