.showcase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 450px;
}

.grid-item {
    margin: 10px;
}

.showcase-img {
    background-image: url('/img/showcase-img.png');
    background-size: cover;
    object-fit: fill;
    position: relative;
}

.showcase-text {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
}


.bestseller-carousel-title-container {
    display: flex;
    justify-content: space-between;
}

    .bestseller-carousel-title-container .bestseller-carousel-title {
        display: flex;
        justify-content: flex-start;
        font-weight: 500;
        margin-top: 10px;
    }

    .bestseller-carousel-title-container .bestseller-view-all-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

.carousel {
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: all 0.3s ease;
}

.carousel-slide {
    flex: 0 0 100%;
}

input[type="radio"] {
    display: none;
}

.carousel-controls {
    display: flex;
    justify-content: center;
}

    .carousel-controls label {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: grey;
        margin: 5px;
        cursor: pointer;
    }

/* Radio Button Slides Control */
#slide1:checked ~ .carousel-slides {
    transform: translateX(0%);
}

#slide2:checked ~ .carousel-slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .carousel-slides {
    transform: translateX(-200%);
}

.discount-offer-img {
    background-image: url('/img/discount-offer-img.png');
    background-size: cover;
    object-fit: fill;
    position: relative;
    min-height: 130px;
}

    .discount-offer-img .discount-offer-title {
        position: absolute;
        top: 10px;
        left: 30px;
    }

        .discount-offer-img .discount-offer-title .discount-offer-text {
            font-size: 23px;
            font-weight: 700;
        }


    .discount-offer-img .discount-offer-btn {
        position: absolute;
        top: 70px;
        left: 30px;
    }
