.showcase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 450px;
}

.grid-item {
    margin: 10px;
}

.showcase-img {
    background-image: url('/img/showcase-img.png');
    background-size: cover;
    object-fit: fill;
    position: relative;
}

.showcase-text {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
}


.discount-offer-img {
    background-image: url('/img/discount-offer-img.png');
    background-size: cover;
    object-fit: fill;
    position: relative;
    min-height: 130px;
}

    .discount-offer-img .discount-offer-title {
        position: absolute;
        top: 10px;
        left: 30px;
    }

        .discount-offer-img .discount-offer-title .discount-offer-text {
            font-size: 23px;
            font-weight: 700;
        }


    .discount-offer-img .discount-offer-btn {
        position: absolute;
        top: 70px;
        left: 30px;
    }
