@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage">

    <section class="showcase">
        <div class="showcase-img">
            <div class="showcase-grid">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item">
                    <p class="showcase-text">Welcome to Manero!</p>
                    <p class="showcase-text">50% OFF</p>
                </div>
                <div class="grid-item"></div>
            </div>
        </div>

    </section>

    <section class="bestseller-carousel-section">
        <partial name="_CarouselPartial" model="new { idSuffix = '1'}" />
    </section>

    <section class="discount-offer">
        <div class="discount-offer-img">
            <div class="discount-offer-title">
                <p class="discount-offer-text">Take 50% off now!</p>
            </div>
            <button class="discount-offer-btn">shop now</button>
        </div>
    </section>

    <section class="featured-carousel-section">
        <partial name="_CarouselPartial" model="new { idSuffix = '2' }" />
    </section>
</div>

