<div class="promo-code">
    <div class="image"><img /></div>
    <div class="content">
        <div class="company">Acme Co.</div>
        <div class="percentage">50% off</div>
        <div class="validity">Valid until June 30, 2022</div>
    </div>
    <div class="icon"><i class="fa-regular fa-clone fa-flip-vertical"></i></div>
</div>

<div class="promo-code">
    <div class="image"><img /></div>
    <div class="content">
        <div class="company">Acme Co.</div>
        <div class="percentage">50% off</div>
        <div class="validity">Valid until June 30, 2022</div>
    </div>
    <div class="icon"><i class="fa-regular fa-clone fa-flip-vertical"></i></div>
</div>

<div class="promo-code">
    <div class="image"><img /></div>
    <div class="content">
        <div class="company">Acme Co.</div>
        <div class="percentage">50% off</div>
        <div class="validity">Valid until June 30, 2022</div>
    </div>
    <div class="icon"><i class="fa-regular fa-clone fa-flip-vertical"></i></div>
</div>