@model PromoCodeViewModel

<div class="promo-code">
    <div class="image"><img /></div>
    <div class="content">
        <div class="company">@Model.PromoCodeName</div>
        <div class="percentage" data-percentage="@((Model.PromoCodePercentage * 100).ToString("00"))">
            @((Model.PromoCodePercentage * 100).ToString("00"))% off
        </div>
        <div class="validity">Valid until @Model.PromoCodeValidity.ToString("MMMM d, yyyy")</div>
    </div>
    <button class="icon"><i class="fa-regular fa-clone fa-flip-vertical"></i></button>
</div>

@section Scripts{
    var elements = document.getElementsByClassName(".percentage");
    console.log(elements);
}