@model CarouselViewModel
@{
    var idSuffix = Model.IdSuffix;
    var title = Model.Title;
}
<div class="carousel-title-container">
    <label class="carousel-title">@title</label>
    <button class="view-all-btn">View All ></button>
</div>

<div class="carousel" data-carousel-id="@Model.IdSuffix">
    <div class="carousel-slides">
        @foreach (var product in Model.Products)
        {
            <div class="productPartial">
                @await Html.PartialAsync("/Views/Shared/Product/_CarouselProductCards.cshtml", product)
            </div>
        }
    </div>

    <button class="carousel-control-prev" data-carousel-id="@Model.IdSuffix">Prev</button>
    <button class="carousel-control-next" data-carousel-id="@Model.IdSuffix">Next</button>
</div>

