.carousel-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

    .carousel-title-container .carousel-title {
        display: flex;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 20px;
    }

    .carousel-title-container .view-all-btn {
        border: none;
        background-color: transparent;
        text-align: center;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

.carousel {
    position: relative;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 50px;
}

.carousel-slides {
    display: flex;
    transition: all 0.3s ease;
}

    .carousel-slides .d-flex {
        gap: 30px;
        transition: transform 0.2s ease;
    }

.carousel-slide {
    flex: 0 0 100%;
}

.productPartial {
    display: flex;
    margin: 0;
    padding: 0;
}

.carousel-control-prev {
    position: absolute;
    top: 88%;
    height: 40px;
    width: 75px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: #515b61;
    border-radius: 45px;
}

.carousel-control-next {
    position: absolute;
    top: 88%;
    height: 40px;
    width: 75px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: #515b61;
    border-radius: 45px;
}
