@{
}

<head>
    <link rel="stylesheet" href="_productCard.css">
</head>


<div class="product-card">
    <div class="product-image">
        <img src="https://img01.ztat.net/article/spp-media-p1/43f5ca71232a48fbb839cd5aaac3bb65/eae6359526ef4fd38b461b377e5b4a1d.jpg?imwidth=300&filter=packshot" alt="Product Image">
        <div class="product-icons">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-bag-shopping"></i>
        </div>
    </div>
    <div class="product-details">
        <div class="product-review">
            <div class="star">&#9733;</div>
            <div class="star">&#9733;</div>
            <div class="star">&#9733;</div>
            <div class="star">&#9733;</div>
            <div class="star">&#9733;</div>
            <span class="review-score">5.0</span>
        </div>
        <div class="product-name">Dam Jul T-shirt Klänning</div>
        <div class="product-price">SEK Kr.339</div>
    </div>
</div>


