body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}