@{
    ViewData["Title"] = "Featured Products";
    ViewData["HideFooter"] = true;
}
<div class="breadcrumb">
    <a href="/Home/Index">Home</a>
    <span>&gt;</span>
    <a href="/ProductCategory/Index">@ViewData["Title"]</a>
    <span>&gt;</span>
    <span>@ViewData["Gender"]</span>
    <span>&gt;</span>
    <span>@ViewData["Category"]</span>
</div>


<div class="dropdownStyle">
    <select id="sortDropdown" onchange="sortProducts(this.value)">
        <option value="">Sorting by</option>
        <option value="productName,asc">Name (asc)</option>
        <option value="productName,desc">Name (desc)</option>
        <option value="priceIncTax,asc">Price (asc)</option>
        <option value="priceIncTax,desc">Price (desc)</option>
        <option value="rating,asc">Rating (asc)</option>
        <option value="rating,desc">Rating (desc)</option>
        <option value="Category,asc">Category (asc)</option>
        <option value="Category,desc">Category (desc)</option>
    </select>
</div>

<link href="c:\users\admin\documents\kyh-2022\agila-arbetsmetoder\assignment\manerowebapp\views\featuredproducts\index.cshtml.css" rel="stylesheet" />
<a href="c:\users\admin\documents\kyh-2022\agila-arbetsmetoder\assignment\manerowebapp\views\featuredproducts\index.cshtml">c:\users\admin\documents\kyh-2022\agila-arbetsmetoder\assignment\manerowebapp\views\featuredproducts\index.cshtml</a>

<div class="product-grid" id="featuredProduct">
</div>

@section Scripts {
    <script>
        function sortProducts(sortBy) {
            $('#featuredProduct').load("/FeaturedProducts/ProductCardsPartial?sort=" + sortBy);
        }

        $('#featuredProduct').load("/FeaturedProducts/ProductCardsPartial");
    </script>
    @*  <script>
            $('#barMenuPartial').load("/FeaturedProducts/BarMenuPartial");
        </script> *@
    }
