@{
}
<div class="navigation-container">
    <div class="navigation-button"><i class="fa-regular fa-bars"></i></div>
    <div class="navigation-items">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="FeaturedProducts" asp-action="Index">Featured</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ProductCategory" asp-action="Index">Categories</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="WishList" asp-action="Index">WishList</a>
    
    </div>
</div>
