@model int
@{
}

<div>
    <div id="productCard"></div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            loadProductCardPartial();
        });
        function loadProductCardPartial() {
            $.ajax({
                url: '@Url.Action("ProductCardPartial", "Product")',
                data: { productId: @Model },
                method: 'GET',
                success: function (result) {
                    $('#productCard').html(result);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script>
}
