@model ProductViewModel
@{
    ViewData["Title"] = "Reviews";

}
<div class="review-wrapper">
    <div class="review-container">
        <div id="productReviews"></div>
    </div>
</div>

@section Scripts
    {
    <script>
        var productName = '@Html.Raw(Model?.ProductName.Replace("'", "\'").Replace("\"", "\\\""))';
        $(document).ready(function () {
            loadProductReviewsPartial();
        });
        function loadProductReviewsPartial() {
            $.ajax({
                url: '@Url.Action("ProductReviewsPartial", "Product")',
                data: {
                    productName: productName,
                    take: null
                },
                method: 'GET',
                success: function (result) {
                    $('#productReviews').html(result);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script>
}

