.review-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.review-container {
    width: 100%;
    padding-bottom: 100px;
}

@media (min-width: 1800px) {
    .review-container {
        max-width: 1800px;
    }
}
