@model ProductViewModel
@{

}
<div class="review-wrapper">
    <div class="review-container">
        <div class="review-title-bar">
            <a class="back-btn" asp-area="" asp-controller="Product" asp-action="Index" asp-route-productNumber="@Model.ProductNumber"><i class="fa-solid fa-angle-left angle-left"></i></a>
            <div class="review-title">Reviews</div>
            <a class="leave-review-btn"><i class="fa-regular fa-pen-to-square"></i></a>
        </div>
        <div id="productReviews"></div>
    </div>
</div>

@section Scripts
    {
    <script>
        var productName = '@Html.Raw(Model?.ProductName.Replace("'", "\'").Replace("\"", "\\\""))';
        $(document).ready(function () {
            loadProductReviewsPartial();
        });
        function loadProductReviewsPartial() {
            $.ajax({
                url: '@Url.Action("ProductReviewsPartial", "Product")',
                data: {
                    productName: productName,
                },
                method: 'GET',
                success: function (result) {
                    $('#productReviews').html(result);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script>
}

