@{ Layout = "_Layout";}
@{ ViewData["Title"] = "Wishlist"; }
@model IEnumerable<FavoriteProductViewModel>

<partial name="_ToastrNotification" />

<div class="wishlist-container">

    @* wishlist header *@
    <section class="wishlist-header">
        header
    </section>

    @* wishlist products *@
    <section class="wishlist-products">
        @foreach (var favoriteCard in Model)
        {
            <partial name="../partials/_favoriteproductcard" model="favoriteCard"></partial>
        }
    </section>

    @* wishlist footer *@
    <section class="wishlist-footer">
        footer
    </section>
</div>

