@{ Layout = "_Layout";}
@{ ViewData["Title"] = "Wishlist"; }
@model IEnumerable<FavoriteProductViewModel>

<partial name="_ToastrNotification" />

<div class="wishlist-container">
    @* wishlist products *@
    <section class="wishlist-products">
        @if(Model is null || Model.Count() == 0)
        {
            <div class="empty-wishList">Your Wish List is empty.</div>
        }
        @if(Model is not null)
            @foreach (var favoriteCard in Model)
            {
                <partial name="../Shared/FavoriteProduct/_favoriteproductcard" model="favoriteCard"></partial>
            }
    </section>
</div>

