@using ManeroWebApp.Areas.Identity.Pages.Account
@model ForgotPasswordModel

<div class="user-forgot-password">
    <div class="title-header">
        <h2 class="title-message">Reset password.</h2>
        <h3>Enter your email.</h3>
    </div>
    <hr/>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="password-forgot-form">
                <label asp-for="Input.Email" class="email-label"></label>
                <input asp-for="Input.Email" class="email-form" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="button-container">
                <button type="submit" class="reset-password-button">Reset password</button>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
