.user-forgot-password {
    max-width: 100%;
    margin: auto;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.title-header {
    text-align: center;
}

.password-forgot-form {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.password-forgot-form ::deep .email-label {
    width: 100%;
    border: none;
    margin-bottom: 5px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .button-container .reset-password-button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 15px 35%;
        border-radius: 10px;
        transition: background-color 0.3s, box-shadow 0.3s;
        font-weight: bold;
        max-width: 100%;
        margin-bottom: 5px;
    }

.reset-password-button:hover {
    background-color: #333;
}