.login-container {
    max-width: 100%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 100vh;
}

.sign-in-header {
    text-align: center;
}

    .sign-in-header h3 {
        margin-bottom: 2em;
        margin-top: 1em;
    }

.title-message h1 {
    color: #333;
    text-align: center;
}

.title-message p {
    text-align: center;
}

.form-parent {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

    .form-parent ::deep .email-input {
    }

    .form-parent ::deep .password-input {
    }


    .form-parent ::deep .email-label {
        width: 100%;
        border: none;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .form-parent ::deep .password-label {
        width: 100%;
        border: none;
        margin-bottom: 5px;
        font-size: 16px;
    }

.toggle-password {
    position: absolute;
    right: 5px;
    top: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.options-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.remember-me {
    display: flex;
    align-items: center;
}

    .remember-me input {
        margin-right: 0.5em;
    }


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .button-container .sign-in-button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 15px 40%;
        border-radius: 10px;
        transition: background-color 0.3s, box-shadow 0.3s;
        font-weight: bold;
        max-width: 100%;
    }

.sign-in-button:hover {
    background-color: #333;
}

::deep .sign-up-link {
    color: #333;
}

    ::deep .sign-up-link:hover {
        transition: background-color 0.3s, box-shadow 0.3s;
        color: #3b5998;
    }

.forgot-password {
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: #212529;
}

    .forgot-password:hover {
        color: #3b5998;
    }

.footer {
    text-align: center;
    margin-top: 2em;
}

.social-media-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2em;
}

    .social-media-login button {
        border: none;
        width: 45px;
        padding: 10px;
        border-radius: 50%;
        font-size: 16px;
        color: #fff;
    }

.facebook-button {
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #333;
}

    .facebook-button:hover {
        background-color: #3b5998;
    }

.twitter-button {
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #333;
}

    .twitter-button:hover {
        background-color: #fff;
    }

        .twitter-button:hover i {
            transition: background-color 0.3s, box-shadow 0.3s;
            color: #333;
        }

.google-button {
    background-color: #333;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .google-button:hover {
        background-color: #db4437;
    }


::deep .guest-login {
   
    color: #333;
}

    ::deep .guest-login:hover {
        transition: background-color 0.3s, box-shadow 0.3s;
        color: #3b5998;
    }

::deep .user-forgot-password{
    color: #333;
}

    ::deep .user-forgot-password:hover {
        transition: background-color 0.3s, box-shadow 0.3s;
        color: #3b5998;
    }