@{
    ViewData["HideHeader"] = true;
}
<div class="headLine">
    <div>
        <a href="/Home/Index" class="btn-back">
            <i class="fa-sharp fa-regular fa-bars-sort" style="color:black;"></i>
        </a>
    </div>
    <h5>My Profile</h5>
    <div>
        <a asp-page="" class="btn-cart">
            <i class="fa-light fa-bag-shopping" style="color:black;"></i>
        </a>
    </div>
</div>
<div class="boderLine" style="margin-top:0;"></div>

<div class="profile-wrapper">
    <div class="cover-photo"></div>
    <div class="profile-container">
        <img class="profile-picture" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture" />
        <div class="edit-icon"><button class="button-edit"><i class="fa-regular fa-pen-line"></i></button></div>
    </div>
    <div class="profile-info">
        <h4>Your Name</h4>
        <p>Your Email</p>
    </div>
</div>

<div class="boderLine"></div>
<div>
    <h2 class="lable-info">
        <i class="fa-light fa-calendar"></i> Order history
        <button class="button-style"><span class="fa-solid fa-chevron-right"></span></button>
    </h2>
</div>

<div class="boderLine"></div>
<div>
    <h2 class="lable-info">
        <i class="fa-sharp fa-regular fa-credit-card"></i>Payment method
        <button class="button-style"><span class="fa-solid fa-chevron-right"></span></button>
    </h2>
</div>

<div class="boderLine"></div>
<div>
    <h2 class="lable-info">
        <i class="fa-light fa-location-dot"></i> My address
        <button class="button-style"><span class="fa-solid fa-chevron-right"></span></button>
    </h2>
</div>

<div class="boderLine"></div>
<div>
    <h2 class="lable-info">
        <i class="fa-regular fa-gift"></i>My promocodes
        <button class="button-style"><span class="fa-solid fa-chevron-right"></span></button>
    </h2>
</div>

<div class="boderLine"></div>
<div>
    <h2 class="lable-info">
        <i class="fa-regular fa-arrow-right-from-bracket"></i>Sign out
        <button class="button-style"><span></span></button>
    </h2>
</div>
