<div class="cover-photo"></div>

<div class="profile-container">
    <div class="profile-picture">
        <img src="https://m.media-amazon.com/images/I/81vZT-DmdBL._AC_UL320_.jpg" alt="Profile Picture">
        <div class="edit-icon">&#9999;</div>
    </div>
    <div class="profile-info">
        <h1>Your Name</h1>
        <p>Your Email</p>
        <!-- Add more details as needed -->
    </div>
</div>

<div class="boderLine"></div>

<div >
    <h2 class="lable-info">Order History</h2>
</div>

<div class="boderLine"></div>

<div>
    <h2 class="lable-info">Payment Method</h2>
</div>

<div class="boderLine"></div>

<div>
    <h2 class="lable-info">My Address</h2>
</div>

<div class="boderLine"></div>