<div class="promo-page">
    <div class="navigation">
        <a class="nav-item">Current</a>
        <a class="nav-item">Used</a>
@*         <a id="" class="nav-item"
           asp-controller="ProductCategory"
           asp-action="Index"
           asp-route-genderCategory="">
            Used
        </a> *@
    </div>
    <div>
        <partial name="../Shared/PromoCodes/_PromoCodePartial" />
    </div>
</div>
