@model IEnumerable<PromoCodeViewModel>

<div class="promo-page">
    <div class="navigation">
        <a id="current" class="nav-item"
            asp-action="Index"
            asp-controller="PromoCodes"
            asp-route-status="current">
            Current
        </a>
        <a id="used" class="nav-item"
            asp-action="Index"
            asp-controller="PromoCodes"
            asp-route-status="used">
            Used
        </a>

    </div>
    <div id="promo-codes">
        @foreach(var promoCode in Model)
        {
            <partial name="../Shared/PromoCodes/_PromoCodePartial" model="@promoCode"/>
        }
    </div>
</div>

@section Scripts{
    <script>
        @Html.Raw(ViewData["script"]);
    </script>

}