@model List<ShoppingCartViewModel>
@{
}

<div>
    @if (Model != null!)
    {
        foreach (var sc in Model)
        {
            <div>@sc.ProductNumber, @sc.ItemQuantity @sc.ProductName</div>
        }
    }
</div>
